body {
    background-color: #e9ebee;
}

.site-header {
    text-align: center;
}

.menu-wrapper {
    position: relative;
    left: 50%;
    float: left;
}
#pagination {
    position: relative;
    left: -50%;
    float: left;
}

#container {
    margin: 20px auto;
}

.activity {
    min-height: 500px;
    background-color: lightblue;
    border-right: 10px solid #e9ebee;
    position: relative;
    margin-bottom: 25px;
}

.activity-header {
    background-color: #3b5998;
    color: #ffffff;
    height: 40px;
    padding-top: 10px;
}

.activity-message {
    width: 300px;
    margin: 20px auto;
}

.activity-image {
    width: 300px;
    margin: 10px auto;
}

.activity-stats {
    position: absolute;
    border-top: 1px solid yellow;
    bottom: 0;
    padding: 5px 0;
    width: 100%;
    margin-top: 10px;
}

a.icon-link:hover {
    text-decoration: none;
}